version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql-db-voll-med
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: vollmed_api
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: api-voll-med
    ports:
      - "80:8080"
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data:
